name: ci

on:
  pull_request:
    branches:
      - 'develop'
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: checkout
        uses: actions/checkout@main

      - name: Set up JDK 21
        uses: actions/setup-java@main
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@main
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@main
      - name: Build with Gradle
        run: ./gradlew -Pspring.profiles.active=test build